/*!
 * Responsive CSS
 */

@media only screen and (max-width: 400px) {
  .footer-link {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer-link li {
    margin-right: 0 !important;
    line-height: 2.3;
  }
  .Toastify__toast-container {
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    margin: 0 10px !important;
  }
}

@media only screen and (max-width: 767px) {
  .form-bridge {
    margin-top: 100px;
    padding: 30px;
  }

  input[type='number'],
  input[type='text'] {
    font-size: 1.1875rem;
    height: 55px;
    padding-right: 43px;
  }

  .select-token {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: unset;
    height: 35px;
    border: 1px solid var(--light);
  }

  .blockchanin-label {
    position: unset;
    display: inline-block;
  }

  .select-token {
    margin-bottom: 5px;
    padding: 5px;
    height: 40px;
  }

  .blockchanin-label.send-from {
    padding-left: 50px;
  }

  .blockchanin-label.send-to {
    padding-left: 35px;
  }

  .token-label {
    position: unset;
    display: inline-block;
    padding-left: 10px;
  }

  .select-token .fa-chevron-down {
    top: 13px;
    padding-right: 5px;
  }

  .token-amount {
    position: absolute;
    left: 13px;
    top: 8px;
    font-size: 0.8125rem;
    width: 35px;
  }

  .change-token {
    top: 170px;
  }

  .logo {
    width: 230px;
    margin-top: 0px;
  }

  .change-token {
    top: 150px !important;
    right: 40px;
    margin-right: 0;
  }

  .setting-receiver {
    font-size: 1.125rem;
    top: 20px;
    right: 16px;
  }

  .progress-transfer-list li {
    padding: 11px;
    font-size: 0.75rem;
    min-height: 45px;
  }

  .progress-transfer-list li .fa-circle-check,
  .progress-active .fa-spinner-third {
    margin-top: 3px;
  }

  .staking-table-title {
    display: none !important;
  }

  .staking-table-tr {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 3px solid var(--light);
  }

  .staking-table-tr .rank,
  .staking-table-tr .wallet {
    border: none;
  }

  .staking-table-tr .rank,
  .staking-table-tr .amount {
    display: flex;
    min-width: 100%;
    justify-content: left;
  }

  .staking-table-tr .wallet {
    display: block;
    font-size: 0.75rem;
    min-width: 100%;
  }

  .staking-table-tr .wallet p {
    font-size: 0.8125rem;
  }

  .staking-table-tr .rank {
    font-weight: 500;
  }

  .staking-table-tr .rank p,
  .staking-table-tr .wallet p,
  .staking-table-tr .amount p {
    font-family: 'Inter', sans-serif;
    margin: auto 0px auto 0px;
    color: var(--dark);
    font-weight: 700;
  }

  .modal-staking {
    width: auto !important;
  }

  .slashing-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-order: 0;
    order: 0;
  }

  .slashing-info {
    width: 100%;
    border-left: none;
    border-bottom: 1px solid var(--light);
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 15px 0px;
  }

  .vote-block {
    -ms-flex-order: 1;
    order: 1;
  }

  .slashing-adress p {
    font-size: 0.75rem;
  }

  .slashing-vote-label {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .modal-slashing,
  .modal-slashing-create-done {
    width: auto !important;
  }

  .select-slashing-adress .scroll-select-list {
    width: 93% !important;
  }

  .successCreateProposal p {
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
  }

  .modal-liquidity {
    width: auto !important;
  }

  footer {
    height: auto !important;
    padding: 15px 0 15px 0 !important;
    flex-direction: column;
  }

  .footer-block {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 15px;
  }
  footer .copyright {
    display: flex;
    justify-content: center !important;
    margin: 0px 0px 10px 0px;
  }
  .footer-link,
  .footer-social-icon {
    display: flex;
    justify-content: center !important;
    margin: 0 auto !important;
  }

  .footer-social-icon {
    margin-top: 10px !important;
  }
  .Toastify__toast-container {
    top: 5.5em !important;
    right: 0;
    width: 380px;
  }

  .alertMsg {
    display: flex;
    padding: 10px;
    min-height: 70px;
  }

  .alertMsg .icon {
    display: flex;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
  }

  .titleAlert {
    font-size: 0.8125rem;
  }
  .alertMsg p {
    font-size: 0.75rem;
  }
  .alertMsg .icon i {
    font-size: 1.4375rem;
  }
}

@media only screen and (max-width: 991px) {
  .section-page {
    padding-top: 100px;
  }

  .modal-dialog {
    min-height: calc(100vh - 20px);
  }

  .navbarMenu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0px;
    border-bottom: 1px solid var(--light);
    background: rgb(255 255 255 / 80%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1030;
  }

  .navbarMenu .navbar-nav .nav-item .nav-link {
    padding: 15px;
  }

  .logo-nav img {
    width: 150px;
  }

  .change-token {
    top: 165px;
  }

  .connect-wallet-btn {
    max-width: 210px;
    margin: 0 auto;
  }

  .logo-nav {
    position: static;
  }

  .liquidity-inside-block {
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 20px;
  }

  .liquidity-card-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: none;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
  }

  .liquidity-card-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    padding-left: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .liquidity-card-token {
    margin-top: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .transaction-info {
    padding: 3px 15px !important;
    display: flex !important;
    align-items: flex-start !important;
    flex-direction: column;
  }

  .transfer-block .fa-regular {
    position: absolute;
    right: 30px;
    margin-top: 13px;
  }

  .transaction-arrow {
    left: 34px !important;
    right: unset !important;
  }

  .transaction-arrow .fa-arrows-repeat {
    position: relative;
    color: var(--silver);
    transform: rotateZ(90deg);
    top: 18px;
  }
  .from-transaction,
  .to-transaction {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .time-withdrawal span {
    font-size: 0.5625rem;
  }
}
